.heading{

    /* text-align:center; */
    margin:3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading:hover{

    cursor:pointer;
    color:var(--clr-orange-5);
    
}
